header#M_header{
  width: 100%;
  height: 70px;
  position: relative;
  top: 0px;
  left: 0px;
  /* background-color: red; */
}
h2#M_logo{
  width: 70px;
  height: 70px;
  font: normal 40px/70px 'Lacquer';
  text-align: center;
  color: #606C5D;
  float: left;
  /* background-color: red; */
}
p#M_shoppingListIcon{
  width: 30px;
  height: 70px;
  font: normal 30px/70px 'Noto Sans';
  color: #606C5D;
  float: right;
}
p#M_menuIcon{
  width: 30px;
  height: 70px;
  font: normal 30px/70px 'Noto Sans';
  color: #606C5D;
  float: right;
  margin-right: 10px;
  margin-left: 10px;
}
nav#M_menu_wrap{
  width: 100vw;
  height: 100vh;
  background-color: #eee;
  overflow: scroll;
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 10;
}
div#M_info_wrap{
  width: 100%;
  height: 134px;
  background-color: #606C5D;
}
p#back_icon{
  width: 100%;
  height: 50px;
  font: normal 20px/50px 'Noto Sans';
  color: white;
  padding-left: 10px;
  padding-top: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
}
ul#M_btnList{
  width: 100%;
  height: 84px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
ul#M_btnList>li{
  width: 50px;
  height: 100%;
  /* background-color: red; */
  color: white;
}
p.btn_icon{
  font: normal 25px/25px 'Notos Sans';
  text-align: center;
  /* background-color: blue; */
}
p.btn_title{
  font: normal 12px/32px 'Noto Sans';
  text-align: center;
  /* background-color: red; */
}
ul#M_menu_wrap{
  width: 100%;
  height: 100vh;
  background-color: #F7E6C4;
}
ul#M_menu_wrap>li{
  width: 100%;
  height: 55px;
  font: normal 16px/55px 'Noto Sans';
  text-indent: 20px;
  box-sizing: border-box;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
  transition: 0.3s ease-out;
}
span.M_arrowIcon{
  width: 55px;
  height: 55px;
  text-align: center;
  display: block;
  text-indent: 0px;
  position: absolute;
  right: 10px;
  top: 0px;
  transform:rotate(0deg);
  -webkit-transition:0.4s ease; 
  /* background-color: red; */
}
span.M_arrowIcon>img{
  width: 20%;
}
ul#M_menu_wrap>li.selected span{
  -webkit-transform:rotate(90deg); 
}
ul.M_subMenuWrap{
  width: 100vw;
  height: auto;
  position: absolute;
  top: 55px;
  left: 0px;
}
ul.M_subMenuWrap>li{
  width:100vw; 
  height:55px; 
  background:white; 
  font:normal 13px/50px 'Noto Sans'; 
  color: #606C5D;
  box-sizing:border-box; 
  text-indent:30px; 
}