header{
  width: 100%;
  height: auto;
}
div#header{
  width: 1920px;
  height: 160px;
  margin: 0px auto;
  position: relative;
  top: 0px;
  left: 0px;
  /* background-color: red; */
}
div#logo_wrap{
  width: 9.58%;
  height: 100%;
  float: left;
  /* background-color: red; */
}
h1.logo{
  width: 38.09%;
  height: 100%;
  margin: 0px auto;
}
h1.logo a{
  font: normal 3.12vw/160px 'Lacquer', cursive;
  color: #606C5D;
  text-decoration: none;
}
nav#mainmenu{
  width: 51.19%;
  height: 100%;
  float: left;
}
ul#mainmenu_list{
  width: 55.34%;
  height: 100%;
  margin-left: 39.16%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  position: relative;
  top: 0px;
  left: 0px;
  /* background-color: red; */
}
ul#mainmenu_list>li{
  /* background-color: red; */
  position: relative;
  top: 0px;
  left: 0px;
}
ul#mainmenu_list li a{
  font: lighter 0.83vw/160px 'Noto Sans';
  color: black;
  text-decoration: none;
}
ul#mainmenu_list li span{
  width: 70px;
  height: 70px;
  border-radius: 35px;
  background-color: #F1C376;
  opacity: 0;
  transition: 0.3s ease-in-out;
  transform: scale(0.1,0.1);
  position: absolute;
  top: 50%;
  margin-top: -35px;
  left: -35px;
  z-index: -1;
}
ul#mainmenu_list li.selected span{
  transform: scale(1,1);
  opacity: 0.8;
  /* display: none; */
}
ul#mainmenu_list li.selected a{
  font: bold 0.83vw/160px 'Noto Sans';
  color: #606C5D;
}
div#language_wrap{
  width: 11.56%;
  height: 100%;
  float: left;
}
p#language{
  margin: 0px auto;
  font: lighter 0.72vw/160px 'Noto Sans';
  color: black;
  margin-left: 21.62%;
}
div#login_wrap{
  width: 16.61%;
  height: 100%;
  float: left;
  /* background-color: red; */
  position: relative;
  top: 0px;
  left: 0px;
}
p#login{
  width: 47%;
  font: lighter 0.72vw/160px 'Noto Sans';
  color: black;
  text-align: right;
  margin-right: 10%;
  /* background-color: green; */
  float: left;
}
div#userInfo{
  width: 40%;
  float: left;
  margin-left: 5px;
  /* background-color: blue; */
  box-sizing: border-box;
  position: relative;
  top: 0px;
  left: 0px;
}
p#userName_style{
  font: normal 0.72vw/160px 'Noto Sans';
  float: left;
}
p#userImg{
  width: 20px;
  height: 160px;
  overflow: hidden; 
  float: left;
  /* background-color: white; */
  display: grid;
  align-items: center;
  margin-right: 5px;
}
p#userImg>img{
  width: 100%;
  height: 20px;
  border-radius: 10px;
}
div#shoppingBasket_wrap{
  width: 9%;
  height: 100%;
  float: left;
  /* background-color: blue; */

}
p#shoppingBasket{
  text-align: right;
  /* margin-right: 10%; */
  font: lighter 0.72vw/160px 'Noto Sans';
  color: black;
  /* background-color: red; */
}
p.block{
  width: 1px;
  height: 100%;
  background-color: #ccc;
  float: left;
}
/* header.module.css */
.fa-caret-down {
  font-size:0.72vw;
  color: black;
}

.fa-lock {
  font-size:0.72vw;
  color: black;
}

.fa-bag-shopping {
  font-size:0.72vw;
  color: black;
}
p#header_section_bar{
  width: 100%;
  height: 1px;
  background-color: #ccc;
  position: relative;
  top: 0px;
  left: 0px;
}
@media screen and (max-width:1920px) {
  div#header{
    width: 100%;
    /* background-color: blue; */
  }
}

