section#giftCard_wrap{
  width: 100%;
  height: 850px;
  /* background-color: red; */
  position: relative;
  top: 0px;
  left: 0px;
}
div#giftCard_titlebox{
  width: 383px;
  height: 60px;
  position: absolute;
  top: 177px;
  left: 50%;
  margin-left: -191.5px;
  /* background-color: red; */
}
p#giftCard_title{
  width: 100%;
  height: 27px;
  font: bold 20px/27px 'Noto Sans';
  margin: 0px auto;
  text-align: center;
}
p#giftCard_subtitle{
  width: 100%;
  height: 20px;
  font: normal 15px 'Noto Sans';
  text-align: center;
  position: absolute;
  bottom: 0px;
  left: 0px;
}
ul#giftCard_contents{
  width: 1148px;
  height: 355px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* background-color: red; */
  position: absolute;
  bottom: 182px;
  left: 50%;
  margin-left: -574px;
}
ul#giftCard_contents>li{
  width: 312px;
  height: 355px;
  background-color: #FFF4F4;
  position: relative;
  top: 0px;
  left: 0px;
}
p#card_whiskyType{
  width: 100%;
  height: 52px;
  background-color: #FDE7E7;
  font: normal 24px/52px 'Lacquer';
  text-align: center;
  position: relative;
  top: 0px;
  left: 0px;
}
p#card_image{
  width: 100%;
  height: 115px;
  position: absolute;
  top: 112px;
  left: 0px;
  background-color: blue;
}