section#highLights_wrap{
  width: 100%;
  height: 1055px;
  position: relative;
  top: 0px;
  left: 0px;
}
div#title_box{
  width: 393px;
  height: 64px;
  position: absolute;
  top: 50px;
  left: 50%;
  margin-left: -196.5px;
}
h3.main_title{
  font: bold 20px/27px 'Noto Sans' ;
}
h3#highLight_title{
  width: 54.19%;
  height: 27px;
  margin: 0 auto;
  position: relative;
  top: 0px;
  left: 0px;
}
p#highLight_subtitle{
  width: 75.06%;
  top: 20px;
  margin: 0px auto;
  position: relative;
  bottom: 0px;
  left: 0px;
  text-align: center;
}
p.main_subtitle{
  font: normal 15px/20px 'Noto Sans';
}
ul#highLights_goods{
  width: 1400px;
  height: 520px;
  margin: 0px auto;
  position: absolute;
  bottom: 320px;
  left: 50%;
  margin-left: -700px;
  /* background-color: red; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
ul#highLights_goods>li{
  width: 16.28%;
  height: 520px;
  /* background-color: red; */
  position: relative;
  top: 0px;
  left: 0px;
}
/* ul#highLights_goods>li:hover{
  background-image:url(/public/images/heightLightBackground.png);
  background-repeat: no-repeat;
} */
ul#highLights_goods>li>img{
  width: 100%;
  /* background-color: green; */
}
li#balvenie_img{
  width: 95.17%;
  /* background-color: red; */
}
li#BOWMOREDISTILLERY6_img{
  width: 84.21%;
  /* background-color: red; */
}
div.goods_text{
  width: 100%;
  height: 83px;
  /* background-color: blue; */
  position: absolute;
  bottom: 0px;
  left: 0px;
  margin-top: 3%;
  box-sizing: border-box;
}
p.highLight_goodName{
  width: 100%;
  height: 22px;
  font: bold 0.83vw 'Noto Sans';
  text-align: center;
  margin-bottom: 3%;
}
p.highLight_type{
  width: 100%;
  height: 19px;
  font: bold 0.72vw 'Noto Sans';
  text-align: center;
  color: #F1C376;
  margin-bottom: 5%;
}
p.highLight_price{
  width: 100%;
  height: 22px;
  font: bold 0.83vw 'Noto Sans';
  color: #606C5D;
  text-align: center;
}
@media screen and (max-width:1400px) {
  div#title_box{
    width: 28.07%;
    margin-left: -14.03%;
  }
  h3.main_title{
    font-size: 1.42vw;
  }
  p.main_subtitle{
    font-size: 1.07vw;
  }
  ul#highLights_goods{
    width: 100%;
    margin-left: -50%;
  }
}