section#mainSelectedPage_wrap{
  width: 100%;
  height: auto;
  min-height: 1000px;
  position: relative;
  top: 0px;
  left: 0px;
  /* background-color: blue; */
}
ul#selectedGoods_list{
  width: 1400px;
  height: auto;
  margin: 0px auto;
  /* background-color: red; */
  position: relative;
  top: 0px;
  left: 0px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row-gap: 20px;
  grid-column-gap: 18px;
  margin-bottom: 20px;
}
ul#selectedGoods_list>li{
  width: 332px;
  height: 552px;
  border-radius: 15px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  background-color: white;
  position: relative;
  top: 0px;
  left: 0px;
}
p.selectedGoods_img{
  width: 200px;
  position: absolute;
  top: 70px;
  left: 50%;
  margin-left: -100px;
}
p.selectedGoods_img>img{
  width: 100%;
}
div.selectedGoods_infobox{
  width: 294px;
  height: 173px;
  /* background-color: red; */
  position: absolute;
  bottom: 22px;
  left: 50%;
  margin-left: -147px;
}
p.selectedGoods_name{
  width: 100%;
  height: 32px;
  font: bold 16px/32px 'Noto Sans';
  text-decoration: none;
  color: black;
  position: relative;
  top: 0px;
  left: 0px;
}
p.selectedGoods_type{
  width: 100%;
  height: 22px;
  font: bold 16px/22px 'Noto Sans';
  text-decoration: none;
  color: #ccc;
  position: relative;
  top: 0px;
  left: 0px;
}
div.selectedGoods_scorebox{
  width: 100%;
  height: 28px;
  /* background-color: yellow; */
  margin-top: 10px;
  position: relative;
  top: 0px;
  left: 0px;
}
p.selectedGoods_score{
  float: left;
  font: normal 28px/28px 'Noto Sans';
  color: #606C5D;
}
p.selectedGoods_price{
  font: bold 16px/28px 'Noto Sans';
  color: #606C5D;
  position: absolute;
  right: 0px;
  top: 0px;
}
div.selectedGoods_buttonbox{
  width: 100%;
  height: 55px;
  /* background-color: blue; */
  margin-top: 27px;
  position: relative;
  top: 0px;
  left: 0px;
}
p.selectedGoods_more{
  width: 46px;
  height: 55px;
  font: bold 16px/55px 'Noto Sans';
  text-decoration: none;
  color: black;
  float: left;
}
p.selectedGoods_goToCart{
  width: 177px;
  height: 55px;
  border-radius: 15px;
  border: solid 2px #ccc;
  box-sizing: border-box;
  background-color: none;
  font: bold 16px/55px 'Noto Sans';
  text-align: center;
  color: #606C5D;
  position: absolute;
  right: 0px;
  top: 0px;
}
p.selectedGoods_goToCart:hover{
  background-color: #606C5D;
  color: white;
  border-color: #606C5D;
}